.filterBtn {
    background-color: rgb(12, 4, 12);
    color: aliceblue;

}

.filter {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    /* align-items: center; */
}